body {
    background: #cccccc;
}

.mainHeader {
    color: fuchsia;
}

.sectionHeader {
    color: #1460aa;
    font-size: 64px;
}

.heading {
    color: darkblue;
}
.paragraph {
    background-color: pink;
    color:green;
}